
ul#album li#foto01 {
    background: url(../imagens/foto01.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album li#foto02 {
    background: url(../imagens/foto02.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album li#foto03 {
    background: url(../imagens/foto03.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album li#foto04 {
    background: url(../imagens/foto04.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album li#foto05 {
    background: url(../imagens/foto05.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}

ul#album li#foto06 {
    background: url(../imagens/foto07.png) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: #ffffff;
}

ul#album li#foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;

}