aside .lateral {
    display: block;
    width: 300px;
    float: right;
}

 h1{
	color: #dddddd;
    text-align: center;
    font-size: 45px;
    padding: 5px;
  }

.lateral img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}