
/*Formatação do Menu*/
header {

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2em;
	width: 100%;
	padding: 8px;
	margin: 0 0 30px;
  }

ul {
	list-style-type: none;
	margin: 30px 20px 30px;
	padding: 0;
	overflow: hidden;
	background-color: white;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: #680000;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #680000;
	color: #696969;
  }

  .cabecalho img#icone{
	position:absolute;
	left:750px;
	top:90px;
}

.cabecalho{
	border-bottom:1px #680000 solid;
	height:150px;
	background-image:url("imagens/excelencia-odontologia.png") no-repeat 0px 5px;
	
}

.cabecalho h1{
	font-family:'Exo 2', sans-serif;
	font-size:30px;
	color:#680000;
	position:absolute;
	top:100px;
	padding:0px;
	margin:0px;
}
/* fORMATAÇÃO PARA lOGIN*/
nav#menuL {
	display: block;
	font-family: 'Exo 2', sans-serif;
    
	
}
nav#menuL ul{
	list-style:none;
	text-transform: uppercase;
	top:-20px;
	left:600px;
	position:absolute;
	
}
nav#menuL li{
	display:inline-block;
	background-color:white;
	padding:20px;
	margin:2px;
	transition: background-color 1s;
	
}
nav#menuL li:hover{
	background-color:#680000;
}


nav#menuL a{
	color:#696969;
	text-decoration:none;
	
}

nav#menuL a:hover{
	color:#ffffff;
	text-decoration:underline;
}

#table{
	background-color:#dddddd;
}